body {margin: 0; padding: 0;}
* {box-sizing: border-box;}
  .container {
    width: 100%;
    position: relative;
    padding-top:5px;
    text-align: center;
    background: #e8d98b;
    color: blue;
  }
      .App {
        width: 96%;
        height: calc(100vh - 46px);
        margin: auto;
        background: rgb(248, 246, 246);
        overflow-y: auto;
        border: 1px solid #000;
        border-top: 1px solid #fff;
      }
        .supman {
          background: url('../img/supman.png');
        }
        .wanderer {
          background: url('../img/wanderer.png');
        }
        .card {
          width: 520px;
          height: 247px;
          margin: 5px auto;
          background-repeat: no-repeat;
          background-size: 100%;
          text-align: left;
          padding: 50px 0 0 150px;
        }
          .film_name {
            color: #000;
          }
            .star_item {
              list-style-type: none;
              display: inline;
            }
        
